<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>React App</title>
    <link href="/font/Roboto.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/lib/bootstrap-4.0.0/css/bootstrap.min.css" />
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="app" class="container-fluid">
      <div class="row no-gutters">
        <div class="col-5 section">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">Navbar</a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
              </nav>

          <div class="tables row no-gutters">
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
            <div class="col-3 _table">
              <div class="table-inner">
                <span>Ban 1</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7 section">
          <div class="foods-container row no-gutters">
            <div class="foods-list col-6">
              <div class="row no-gutters category">
                <div class="col-6 cate">do an</div>
                <div class="col-6 cate">do uong</div>
              </div>
              <div class="row no-gutters cate-child">
                  <div class="col-4 cate-child-item">
                    <div class="cate-child-inner">ruou</div>
                  </div>
                  <div class="col-4 cate-child-item">
                      <div class="cate-child-inner">ca phe</div>
                  </div>
              </div>
              <div class="row no-gutters">
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="foods-selected col-6">
              <div class="row no-gutters">
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
                <div class="food col-4">
                  <div class="food-inner">
                    <div class="f-name">Trung</div>
                  <div class="f-price">20.000</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pay-container row no-gutters">
            <div class="row no-gutters">
              <div class="col-5">Tong : </div>
              <div class="col-7">2000000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
